@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#353535;

}
#header{
    background-color: #3c6e71;
}
.basket{
    margin-right: 0.25rem;
    background-color:black;
    border:none;
    transform: 0.2s;
    font-weight: 300;
}
.basket:hover{
    opacity: 0.6;
    transition: ease-in-out 0.2s;
    background-color: darkgrey;
    font-weight: 300;

}